.debug{
  height: 100px;
  /*border: 1px solid yellow;*/
  /*background-color: blueviolet;*/
  border-bottom: 1px solid black;
  text-align: left;
  padding: 0;
}

/*riutilizzabili*/

.color_white{
  color: white;
}

.btn_start{
  background-color: #2c3e50;
  color: #888888;
}

.line:before,
.line:after{
  content: '';
  width: 30%;
  display: inline-block;
  height: 3px;
  background-color: white;
  margin: 15px;
  vertical-align: middle;
}

.vertical_align_middle{
  vertical-align: middle;
}

.font_20{
  font-size: 20px;
}

.font_30{
  font-size: 30px;
}

.font_50{
  font-size: 50px;
}

.margin_0{
  padding: 0;
}

.padding_10{
  padding: 10px;
}

.padding_20{
  padding: 20px;
}

.padding_30{
  padding: 30px;
}

.margin_top_10{
  margin-top: 10px;
}

.margin_top_24{
  margin-top: 24px;
}

.margin_bot_10{
  margin-bottom: 10px;
}

.padding_top_30{
  padding-top: 30px;
}

.padding_bot_30{
  padding-bottom: 30px;
}

.no_border{
  border: none;
  border-radius: none;
}



/*header*/

.header_top{
  background-color: #2c3e50;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.line_height_70{
  line-height: 70px;
}

.header_top li{
  display: inline-block;
  padding-right: 10px;
}

.navbar li a{
  color: white;
  
}

.navbar li a:hover{
  color: #1abc9c;
  text-decoration: none;
}


.jumbotron, 
#about,
#about .btn,
#contact .btn{
  background-color: #1abc9c;
}

.jumbotron{
  padding-top: 70px;
}

/*sezione portfolio*/

section#portfolio p.line:before,
section#portfolio p.line:after{
  background-color: black;
}

.layover{
  height: 100%;
  width: 100%;
  background-color: #1abc9c62;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: none;
}

.layover i{
  margin: 25%;
  font-size: 60px;
  color: #1abc9c;
}

.photo [class*="col-"]:hover .layover{
  display: block;

}

@media screen and (max-width: 767px){
  .row.photo{
    margin: 0 5px;
  }
}

.photo img{
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
}

/*section about*/

section#about p.line:before,
section#about p.line:after{
  width: 15%;
}

#about .btn{
  border-color: white;
}


/*section contact*/

section#contact p.line:before,
section#contact p.line:after{
  width: 15%;
  background-color: black;
}

section#contact .row [class*"col-"]:last-child textarea{
  border-bottom: 1px solid black;
}

#contact .btn{
  border-radius: 10px;
}

/*section location*/
section#location{
  background-color: #3a546d;
}

#location .row [class*="col-"]:nth-child(2) i{
  width: calc(100% / 4);
  display: inline-block;
  font-size: 50px;
}


/*footer*/
footer{
  background-color: #2c3e50;
}